.main{
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   align-items: center;
   background-color: rgb(99, 77, 119);
}
.cont{
  display: flex;
  align-items: center;
}

.icon{
  display: flex;
  align-items: center;
}